// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// Font-Awesome
@import "~font-awesome/scss/font-awesome";
@import "profile";
@import "news";

body {
  background: url('/images/bg.png') repeat scroll left top;
}

.section-header {
  padding: 0 15px;
  h3 {
    color: $brand-primary;
  }
}

.page-header {
  border-bottom: 1px solid darkgrey !important;
}

.carousel img {
  width: 100%;
}

.carousel .item {
  max-height: 35vh;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.carousel {
  margin-bottom: 2%;
}

.panel-body {
  word-wrap: break-word;
}