.timeline {
  .panel {
    .panel-body {
      padding: 3px 10px;

      img {
        width: 50px;
        height: 50px;
      }
    }
    .panel-heading {
      padding: 3px 10px;
      font-weight: bold;
    }
  }
}